.article {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* background-attachment: fixed; */

    min-height: 100vh;
    /* min-width: 100%; */
}

.pokemon-detail__main-container {
    width: 100vw;
}

.pokemon-detail__logo-container {
    width: 100%;
}

.pokemon-detail__logo-container img {
    width: 100%;
}

.pokemon-data__main-container {
    /* display: flex; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* height: 12%; */
}

.pokemon-data__title {
    color: red;
    text-shadow: 1px 1px 3px black;

    display: grid;
    place-content: center;

    font-size: 33px;
    background: linear-gradient(179.75deg, #e62d2d39 -19.96%, #d13e3e4f 43.67%, #f07f7f4f 138.4%);
    width: 100%;

    margin: 3% 0;

}

.pokemon-data__types-list {
    background-color: rgba(50, 50, 50, 0.311);

    font-size: 23px;
    color: rgb(48, 48, 48);

    border-radius: 12px;

    padding: 6px;
}

.pokemon-data__types-list li {
    list-style: none;

    text-shadow: 1px 1px 3px red;
}

.pokemon-data__stats-list {
    display: flex;
    flex-direction: column;
}

.pokemon-data__stats-list__ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    /* height: 332px; */
    /* margin: 3% 12px; */
}

.pokemon-data__stats-list__ul-li {
    background-color: rgba(240, 248, 255, 0.332);
    border-radius: 12px;

    padding: 6px;

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: xx-large;

    margin: 3% 12px;

}

.pokemon-data__stats-list__ul-li em {
    color: red;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.pokemon-data__stats-list__ul-li p {
    /* font-size: x-large; */
    color: rgb(37, 37, 37);
    text-shadow: 1px 1px 3px red;
}