.pokemon-card {
    border: solid red 6px;
    border-radius: 12px 12px;

    height: 383px;
    width: 261px;
}

.pokemon-card__img {
    display: flex;
    justify-content: center;

    background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
    /* border-radius: 12px 12px 0px 0px; */
    height: 128px;

    margin-bottom: 56px;


}

.pokemon-card__img img {
    height: 150px;
    width: 143px;

    margin: 16px 59px 18px;
}

.pokemon-card__title {
    display: grid;
    place-content: center;





}

.pokemon-card__title h3 {
    width: 173px;
    height: 17px;

    display: grid;
    place-content: center;

    /* border: solid red 1px, */

    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(229, 45, 45, 1);
}

.pokemon-card__title ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 0 26px 0;

    list-style: none;
}

.hr {
    border: 0.5px solid rgba(229, 229, 229, 1)
}

.pokemon-card__title li {
    margin: 0 6px 0 6px;

    color: rgba(79, 79, 79, 1);

}

.pokemon-card__list {
    display: flex;
    /* flex-direction: column; */
    place-content: center;

    margin: 6px;
    padding: 6px;
}

.pokemon-card__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 127.5px;
    align-content: space-around;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.pokemon-card__ul-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 6px 0;
}

.pokemon-card__ul-li em {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;

    color: rgba(159, 159, 159, 1);

}

.pokemon-card__ul-li span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(229, 45, 45, 1);

}